body {
  background-color: #dbd6ce;
}

p {
  word-spacing: 30px;
}

h3 {
  display: inline;
  margin-left: 1rem;
}

.title {
  display: flex;
  justify-content: flex-end;
}

#messages {
  background-color:#ffffff;
  margin-bottom:2rem;
  padding-bottom: 1rem;
}

#myMessages ul{
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
}

#myMessages li{
  text-decoration: none;
  background-color: #e8c30c;
  padding: 1rem;
  margin: 1rem;
  border-radius: 25px;
}

#myMessages li:hover {
  padding: 2rem;
}

#myMessagesTitle {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

h3 button {
  border: 0em;
}

#buttonBorder {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; 
  margin-right: 1rem;
}

h4 {
  margin: 0em;
}

#navBar {
  list-style-type: none;
  margin-top: 0rem;
  margin-bottom: 1rem;
  padding: 0rem;
  overflow: hidden;
  background-color: #333333;
}

#navBar li {
  float: left;
}

#navBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

#navBar li a:hover {
  background-color: #111111;
}

.nav {
  display: flex;
  flex-direction: column;
}